<a href="https://colab.research.google.com/github/nywook/AIB09_Discussion/blob/master/n114a_Basic_Derivative_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 4*

---

# ğŸ“ Assignment

## 1. Dataset ë¶ˆëŸ¬ì˜¤ê¸°
> seaborn ë¼ì´ë¸ŒëŸ¬ë¦¬ì˜ load_dataset()ì„ í™œìš©í•´ì„œ iris ë°ì´í„°ì…‹ì„ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë¶ˆëŸ¬ì˜µë‹ˆë‹¤. ë°ì´í„°í”„ë ˆì„ì˜ ì´ë¦„ì€ df_irisë¡œ í•©ë‹ˆë‹¤. <br>
> df_irisì˜ shapeì˜ **ì²«ë²ˆì§¸ ê°’ì„ ë‘ë²ˆì§¸ ê°’ìœ¼ë¡œ ë‚˜ëˆˆ ê°’**ì„ `res1`ì— ì €ì¥í•˜ì„¸ìš”

In [168]:
import pandas as pd
import seaborn as sns
import numpy as np

np.random.seed(42)
df_iris = sns.load_dataset('iris')  #iris ë°ì´í„°ì…‹ì„ ë¡œë“œ



df_iris.shape #shapeì„ êµ¬í•œë‹¤

rest1 = int(df_iris.shape[0] / df_iris.shape[1])  #ì²«ë²ˆì§¸ ê°’ì„ ë‘ë²ˆì§¸ê°’ìœ¼ë¡œ ë‚˜ëˆˆë‹¤
rest1

30

In [ ]:
sns.get_dataset_names() #seaborn ë°ì´í„°ì…‹ ëª©ë¡

## 2. X êµ¬í•˜ê¸°
> df_irisì—ì„œ sepal_lengthë§Œ ë‚¨ê²¨ì£¼ì„¸ìš”. ê·¸ë¦¬ê³  sepal_length ì¹¼ëŸ¼ì˜ ì´ë¦„ì€ xë¡œ ë°”ê¿‰ë‹ˆë‹¤

In [169]:
df_iris = df_iris[["sepal_length"]]  
df_iris = df_iris.rename(columns = {'sepal_length':'x'})  #df_ls = df_ls.rename(columns = {'sepal_length':'x'}, inplace=True)

df_iris

       x
0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
..   ...
145  6.7
146  6.3
147  6.5
148  6.2
149  5.9

[150 rows x 1 columns]

3. ê¸°ì´ˆ ë¯¸ë¶„

ë‹¤ìŒ í•¨ìˆ˜ë¥¼ ë¯¸ë¶„í•œ ë„í•¨ìˆ˜ë¥¼ êµ¬í•œ í›„ì— num_one í•¨ìˆ˜ë¥¼ ì™„ì„±í•˜ì„¸ìš”. 
$f(x) = 4x^5 + 9x^3 + ex^2 - 7$

- num_one í•¨ìˆ˜ë¥¼ xì— ì ìš©í•œ í›„ì— **derivative_one**ì´ë¼ëŠ” ì¹¼ëŸ¼ìœ¼ë¡œ df_irisì— ì €ì¥í•©ë‹ˆë‹¤. (Hint : df.apply)
- derivative_one ì¹¼ëŸ¼ì˜ í•©ì„ `res2`ì— ì €ì¥í•©ë‹ˆë‹¤ (ì†Œìˆ˜ì  ì„¸ìë¦¬ê¹Œì§€)

In [ ]:
import math

def num_one(x):
    fx = 20*(x**4) + 27*(x**2) + 2*math.exp(1)*x
    return fx

df_iris["derivative_one"] = df_iris["x"].apply(num_one)

res2 = round(df_iris["derivative_one"].sum(),3)
res2

4077643.108

- ì´ë²ˆì—ëŠ” scipyì˜ [derivative](https://docs.scipy.org/doc/scipy/reference/generated/scipy.misc.derivative.html)ë¥¼ í™œìš©í•˜ì—¬ **derivative_two** ì¹¼ëŸ¼ìœ¼ë¡œ ì €ì¥í•˜ì„¸ìš”.
  - dxëŠ” 1e-7ë¡œ ì„¤ì •í•©ë‹ˆë‹¤.
- derivative_two ì¹¼ëŸ¼ì˜ í•©ì„ `res3`ì— ì €ì¥í•©ë‹ˆë‹¤ (ì†Œìˆ˜ì  ì„¸ìë¦¬ê¹Œì§€)

In [ ]:
from scipy.misc import derivative

def f(x):
    fx = 4*(x**5) + 9*(x**3) + math.exp(1)*(x**2) - 7
    return fx

def num_two(x) :
    fx = derivative(f, x, dx=1e-7)
    return fx

df_iris["derivative_two"] = df_iris["x"].apply(num_two)

res3 = round(df_iris["derivative_two"].sum(), 3)
res3

4077643.121

## 4. ë¯¸ë¶„ ì—°ìŠµ

>ì•„ë˜ í•¨ìˆ˜ë“¤ì˜ ë„í•¨ìˆ˜ë¥¼ ì‘ì„±í•´ì£¼ì„¸ìš”.

 $f(x) = e^x$

In [158]:
def e_prime(x):
  return np.exp(x)

res4 = e_prime(5)
int(res4)

148

$f(x) = lnx$

In [160]:
def ln_prime(x):
    return 1/x  


res5 = ln_prime(5)
res5

0.2

$f(x) = Sin(2x)$

In [162]:
def sine_prime(x):
    return 2*math.cos(2*x)

res6 = sine_prime(5)
round(res6,2)

-1.68

$f(x) = (2x^2 + 8x)^2$

In [165]:
def f_prime(x):
    return 2*(2*(x**2)+(8*x))*((4*x)+8)

res7 = f_prime(5)
res7

5040

## 5. í¸ë¯¸ë¶„

ì£¼ì–´ì§„ `machine learning model`ì˜ `error function` ($\varepsilon$)ì´ ë‹¤ìŒê³¼ ê°™ì„ ë•Œ `error function`ì„ **ìµœì†Œí™”** í•˜ëŠ” ìµœì ì˜ `parameter`ë“¤ì„  êµ¬í•˜ì„¸ìš”. ê·¸ í›„ ê²°ê³¼ë¥¼ ê°ê° `p1`, `p2`ì— ì €ì¥í•˜ì„¸ìš”.

$\varepsilon(p_1, p_2) = (e \cdot p_1 - p_2)^2 + {{k_2} \over { 2 }} \cdot p_2 $ 

$k_2 = 100$

- ë‹¨ ìµœì ì˜ $p_1$ì€ $p_2$ê°€ $3$ì¼ë•Œ, ìµœì ì˜ $p_2$ëŠ” $p_1$ì´ $10$ì¼ë•Œë¥¼ ê¸°ì¤€ìœ¼ë¡œ í•©ë‹ˆë‹¤.

In [ ]:
p1 = 1/math.exp(1)
p2 = (20*math.exp(1) - 50)/2
print(p1, p2)

0.36787944117144233 2.18281828459045

## ğŸ”¥ ë„ì „ê³¼ì œ

### ë‹¤ìŒ í•¨ìˆ˜ë¥¼ ë¯¸ë¶„í•˜ì„¸ìš”. ì´í›„ì— x = 3ì¼ ë•Œì˜ ê²°ê³¼ë¥¼ `challenge`ì— ì €ì¥í•˜ì„¸ìš”.  
$\sigma(x) = {{1} \over {1 + e^-x}}$.

In [ ]:
def sig_prime(x):
    return None # ì´ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì„¸ìš”.