<a href="https://colab.research.google.com/github/nywook/AIB09_Discussion/blob/master/n114a_Basic_Derivative_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 4*

---

# 📝 Assignment

## 1. Dataset 불러오기
> seaborn 라이브러리의 load_dataset()을 활용해서 iris 데이터셋을 데이터프레임으로 불러옵니다. 데이터프레임의 이름은 df_iris로 합니다. <br>
> df_iris의 shape의 **첫번째 값을 두번째 값으로 나눈 값**을 `res1`에 저장하세요

In [168]:
import pandas as pd
import seaborn as sns
import numpy as np

np.random.seed(42)
df_iris = sns.load_dataset('iris')  #iris 데이터셋을 로드



df_iris.shape #shape을 구한다

rest1 = int(df_iris.shape[0] / df_iris.shape[1])  #첫번째 값을 두번째값으로 나눈다
rest1

30

In [ ]:
sns.get_dataset_names() #seaborn 데이터셋 목록

## 2. X 구하기
> df_iris에서 sepal_length만 남겨주세요. 그리고 sepal_length 칼럼의 이름은 x로 바꿉니다

In [169]:
df_iris = df_iris[["sepal_length"]]  
df_iris = df_iris.rename(columns = {'sepal_length':'x'})  #df_ls = df_ls.rename(columns = {'sepal_length':'x'}, inplace=True)

df_iris

       x
0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
..   ...
145  6.7
146  6.3
147  6.5
148  6.2
149  5.9

[150 rows x 1 columns]

3. 기초 미분

다음 함수를 미분한 도함수를 구한 후에 num_one 함수를 완성하세요. 
$f(x) = 4x^5 + 9x^3 + ex^2 - 7$

- num_one 함수를 x에 적용한 후에 **derivative_one**이라는 칼럼으로 df_iris에 저장합니다. (Hint : df.apply)
- derivative_one 칼럼의 합을 `res2`에 저장합니다 (소수점 세자리까지)

In [ ]:
import math

def num_one(x):
    fx = 20*(x**4) + 27*(x**2) + 2*math.exp(1)*x
    return fx

df_iris["derivative_one"] = df_iris["x"].apply(num_one)

res2 = round(df_iris["derivative_one"].sum(),3)
res2

4077643.108

- 이번에는 scipy의 [derivative](https://docs.scipy.org/doc/scipy/reference/generated/scipy.misc.derivative.html)를 활용하여 **derivative_two** 칼럼으로 저장하세요.
  - dx는 1e-7로 설정합니다.
- derivative_two 칼럼의 합을 `res3`에 저장합니다 (소수점 세자리까지)

In [ ]:
from scipy.misc import derivative

def f(x):
    fx = 4*(x**5) + 9*(x**3) + math.exp(1)*(x**2) - 7
    return fx

def num_two(x) :
    fx = derivative(f, x, dx=1e-7)
    return fx

df_iris["derivative_two"] = df_iris["x"].apply(num_two)

res3 = round(df_iris["derivative_two"].sum(), 3)
res3

4077643.121

## 4. 미분 연습

>아래 함수들의 도함수를 작성해주세요.

 $f(x) = e^x$

In [158]:
def e_prime(x):
  return np.exp(x)

res4 = e_prime(5)
int(res4)

148

$f(x) = lnx$

In [160]:
def ln_prime(x):
    return 1/x  


res5 = ln_prime(5)
res5

0.2

$f(x) = Sin(2x)$

In [162]:
def sine_prime(x):
    return 2*math.cos(2*x)

res6 = sine_prime(5)
round(res6,2)

-1.68

$f(x) = (2x^2 + 8x)^2$

In [165]:
def f_prime(x):
    return 2*(2*(x**2)+(8*x))*((4*x)+8)

res7 = f_prime(5)
res7

5040

## 5. 편미분

주어진 `machine learning model`의 `error function` ($\varepsilon$)이 다음과 같을 때 `error function`을 **최소화** 하는 최적의 `parameter`들을  구하세요. 그 후 결과를 각각 `p1`, `p2`에 저장하세요.

$\varepsilon(p_1, p_2) = (e \cdot p_1 - p_2)^2 + {{k_2} \over { 2 }} \cdot p_2 $ 

$k_2 = 100$

- 단 최적의 $p_1$은 $p_2$가 $3$일때, 최적의 $p_2$는 $p_1$이 $10$일때를 기준으로 합니다.

In [ ]:
p1 = 1/math.exp(1)
p2 = (20*math.exp(1) - 50)/2
print(p1, p2)

0.36787944117144233 2.18281828459045

## 🔥 도전과제

### 다음 함수를 미분하세요. 이후에 x = 3일 때의 결과를 `challenge`에 저장하세요.  
$\sigma(x) = {{1} \over {1 + e^-x}}$.

In [ ]:
def sig_prime(x):
    return None # 이곳에 답안을 작성하세요.